<%=form_for @static_page do |f|%>
  <div class="form_element">
    <%=f.text_field :title%>
  </div>
  <div class="form_element default">
    <button class="prev"><<</button>
    <div class="gallery_box jCarouselLite">
      <ul class="image_box">
        <li>
           <%=image_tag "/assets/add_logo.jpeg",:class=>"add_gallery_image",:href=>images_list_static_pages_path%>
        </li>
        <li>
           <%=image_tag "/assets/add_logo.jpeg"%>
        </li>
      </ul>
      <div class="clear"></div>
    </div>
    <button class="next">>></button>
  </div>
  <div class="form_element">
    <%=f.text_area :description,:id=>"tiny_editor"%>
  </div>
  <%=f.submit "Make"%>
<!-- <textarea id="elm1" name="area"></textarea> -->
<%end%>
<script type="text/javascript">
  $(document).ready(function(){ 
    $(".default .jCarouselLite").jCarouselLite({
    btnNext: ".default .next",
    btnPrev: ".default .prev"
    });
  })
</script>
<script type="text/javascript">
  $(document).ready(function(){
    $(".add_gallery_image").colorbox({
      href:$(this).attr('href'),
      width:"1000px",
      height:"500px"
      });
  });
</script>
<script type="text/javascript">
tinymce.init({
    selector: "textarea#tiny_editor",
    theme: "modern",
    width: 700,
    height: 300,
    plugins: [
         "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
         "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
         "save table contextmenu directionality emoticons template paste textcolor"
   ],
   content_css: "css/content.css",
   toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      ink image | print preview media fullpage | forecolor backcolor emoticons", 
   style_formats: [
        {title: 'Bold text', inline: 'b'},
        {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
        {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
        {title: 'Example 1', inline: 'span', classes: 'example1'},
        {title: 'Example 2', inline: 'span', classes: 'example2'},
        {title: 'Table styles'},
        {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
    ]
 }); 
</script>
